<div class="container-fluid">
  <%= render "shared/head"%>
  <%= render "shared/menu" %>
</div>
<div class="container-fluid content">
  <div class="row">
    <div class="col m7 member-club">
      <div class="col m10">
        <h1>Membres du bureau</h1>
      </div>
      <div class="col m2">
        <%= render "shared/action-btn" , url: 'clubs/new', title:'Ajouter'  %>
      </div>
      <div class="row">
        <table class="club_table striped">
            <tbody>
              <% @clubs.each do |club|%>
              <tr>
                <td width="20%" class="center"><%=club.title%></td>
                <td width="20%" class="center"><%=club.name%></td>
                <td width="25%" class="center"><%= num_to_phone(club.phone) %></td>
                <td width="31%"><%=club.mail%></td>
                <td width="2%" class="table-btn"><div><%= render 'shared/action-btn', url: edit_club_path(club.id), title: 'Mettre à jour'%></div></td>
                <td width="2%" class="table-btn"><div><%= render "shared/action-btn", url: "/clubs/#{club.id}",variable_data: @club, title: "Supprimer" %></div></td>
              </tr>
              <%end%>
            </tbody>
        </table>
      </div>
    </div>
    <div class="col m5 life-club">
      <div class="row">
        <div class="col m10">
          <h1>La vie du club</h1>
        </div>
        <div class="col m2">
          <%= render "shared/action-btn" , url: 'reports/new', title:'Ajouter'  %>
        </div>
      </div>
      <div class="row content">
        <% @reports.each do |report| %>
          <div class="row report">
            <div class="col m8 report-title"><%= report.title%></div>
            <div class="col m2 report-document">
              <%= render "shared/action-btn", url: report.document.url, title: "Télécharger"%>
            </div>
          </div>
          <hr/>
        <%end%>
      </div>
    </div>
  </div>
</div>
