<div class="container page-content">
  <div class="row">
    <div class="col m10">
      <h1>Présentation</h1>
    </div>
    <div class="col m2">
      <%= render "shared/global/action-btn" , url: 'presentations/1/edit', title:'Mettre à jour'  %>
    </div>
  </div>
  <div class="row presentation_club"><%= @presentations[0].content.html_safe %></div>
  <div class="row">
    <div class="col m10">
      <h1>Membres du bureau</h1>
    </div>
    <div class="col m2">
      <%= render "shared/global/action-btn" , url: 'clubs/new', title:'Ajouter'  %>
    </div>
  </div>
  <div class="row">
    <% @clubs.each do |club|%>
      <div class="col member-club">
        <div class='row icon'>
          <div class="col s12 m12 l12">
            <div class="col s6 m8 l8"></div>
            <div class="col s3 m2 l2">
              <%= render 'shared/global/action-btn', url: edit_club_path(club.id), title: 'Mettre à jour'%>
            </div>
            <div class="col s3 m2 l2">
              <%= render "shared/global/action-btn", url: "/clubs/#{club.id}",variable_data: @club, title: "Supprimer" %>
            </div>
          </div>
        </div>
        <div class="row title">
          <%=club.title%>
        </div>
        <div class="row avatar">
          <%= image_tag "avatars/#{club.avatar}" %>
        </div>
        <div class="row name">
          <%=club.name%>
        </div>
        <div class="row info">
          <% if club.phone %>
            <%= num_to_phone(club.phone) %>
          <% end %>
        </div>
        <div class="row info">
          <%=club.mail%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row life-club">
    <div class="row">
      <div class="col m10">
        <h1>La vie du club</h1>
      </div>
      <div class="col m2">
        <%= render "shared/global/action-btn" , url: 'reports/new', title:'Ajouter'  %>
      </div>
    </div>
    <br/>
    <div class="row content">
      <table class="club_table striped">
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td width="96%">
                <div class="report-title">
                  <%=report.title%>
                </div>
              </td>
              <td width="2%" class="center">
                <div class="report-document">
                  <%= render "shared/global/action-btn", url: report.document.url, title: "Télécharger"%>
                </div>
              </td>
              <td width="2%" class="center">
                <div class="report-update">
                  <%= render 'shared/global/action-btn', url: edit_report_path(report.id), title: 'Mettre à jour'%>
                </div>
              </td>
              <td width="2%">
                <div class="report-delete">
                  <%= render "shared/global/action-btn", url: "/reports/#{report.id}",variable_data: @report, title: "Supprimer" %>
                </div>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col m12">
        <%= paginate @reports, theme: ''%>
      </div>
    </div>
  </div>
</div>
