<%= form_for @club do |f| %>
  <div class="field">
    <%= f.label :intitulé_du_poste %>
    <%= f.text_field :title, placeholder: 'Le boss' %>
  </div>
  <div class="field checkbox avatar">
    <%= f.label :choisir_son_avatar, class: "label_checkbox" %>
    <% @files.each do |file| %>
      <div class="inline">
        <%= f.radio_button :avatar, :checked => file %>
        <%= image_tag "avatars/#{file}" %>
      </div>
    <% end %>
  </div>
  <div class="error"><%= @error_title %></div>
  <div class="field">
    <%= f.label :nom_complet %>
    <%= f.text_field :name, placeholder: "Richard Virenque" %>
  </div>
  <div class="error"><%= @error_name %></div>
  <br/>
  <div class="field">
    <%= f.label :numéro_de_téléphone %>
    <%= f.telephone_field :phone, placeholder: "0123456789", pattern: "[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}", onkeyup: "verif_nombre(this)", size: 10, maxlength: 10, class: "formfield" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :mail %>
    <%= f.email_field :mail, placeholder: "xxxxxxxx@xxxx.xx", class: "formfield" %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
