<%= form_for @exit  do |f| %>
  <div class="field">
    <%= f.label :intitulé_du_poste %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :nom_comple %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :numéro_de_téléphone %>
    <%= f.text_area :telephone %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :mail %>
    <%= f.text_area :mail %>
  </div>
  <div class="actions">
    <%= f.submit "Ajouter le membre", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
