<div class="container-fluid page-content session-page">
  <div class="row">
    <div class="col s0 m3 l3"></div>
    <div class ="col s12 m6 l6 connexion-box">
      <h1>S'enregistrer</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :mot_de_passe %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :confirmer_mot_de_passe %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "S'enregistrer" %>
        </div>
      <% end %>
      <div class="signin_links">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
