
<div class="col s12 m12 l12 exit-card">
  <div class="card blue-club">
    <div class="card-content white-text">
      <div class="row">
        <div class="col s8 m10 l10">
          <span class="card-title"><%= exit.title %></span>
        </div>
        <div class="col s2 m1 l1 no_bg_color">
          <%= render "shared/global/action-btn", url: "/exits/#{exit.id}/edit", variable_data: @exit, title: "Mettre à jour" %>
        </div>
        <div class="col s2 m1 l1 no_bg_color">
          <%= render "shared/global/action-btn", url: "/exits/#{exit.id}", variable_data: @exit, title: "Supprimer" %>
        </div>
        <p class="col s12 m12 l12"><%= exit.description.html_safe %></p>
      </div>
    </div>
    <div class="card-action row col s12">
      <div class="col s6 m6 l6"><span class="info-title">Lieu : </span><span class="info"><%= exit.city%></span></div>
      <div class="col s6 m6 l6"><span class="info-title">Date : </span><span class="info"><%= exit.date.strftime('%d/%m/%Y') %></span></div>
    </div>
  </div>
</div>
