<div class="container-fluid page-content">
  <div class="row">
    <div class="col m11">
      <h1>Retours sur les évènements passés</h1>
    </div>
    <div class="col m1">
      <%= render "shared/global/action-btn" , url: 'articles/new', title:'Ajouter'  %>
    </div>
  </div>
  <div class="row-fluid">
    <% @articles.each do |article| %>
      <div class="row-fluid">
        <div class="col m1"></div>
        <div class="col m9 auto article">
          <div class="row-fluid media-article m12">
            <img src="<%=article.picture%>" alt="Image de :<%=article.title%>"/>
          </div>
          <div class="row title-article">
            <h3>
              <%= link_to "/articles/#{article.id}" do%>
                <%= article.title %>
              <% end %>
            </h3>
          </div>
          <div class="row-fluid col m12 resume-article">
            <%= article.resume %>
          </div>
          <% if false %>
            <div class="row-fluid information-article">
              <div class="col m7">
              </div>
              <div class="row-fluid col m5 date-article">
                <span>De <%=article.author%>, le <%= article.date.strftime('%m/%d/%Y') %> à <%= article.date.strftime('%H:%M:%S')%></span>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col m12">
      <%= paginate @articles, theme: ''%>
    </div>
  </div>
</div>
