<div class="container-fluid page-content background-article" style='background-image:url(<%= @article.picture %>)'>
  <div class="row article-show">
    <div class="col m2">
    </div>
    <div class="col m8 block-article">
      <div class="row">
        <div class="col m10">
          <%= render "shared/global/return-btn", url: "/articles", title: "Retour aux articles" %>
        </div>
        <div class="col m1">
          <%= render "shared/global/action-btn", url: edit_article_path(@article), title: "Mettre à jour" %>
        </div>
        <div class="col m1">
          <%= render "shared/global/action-btn", url: "/articles/#{@article.id}",variable_data: @article, title: "Supprimer" %>
        </div>
      </div>
      <h1><%= @article.title %></h1>
      <div class="article-content">
        <div class="row">
          <%= @article.content.html_safe %>
        </div>
      </div>
    </div>

  </div>
</div>
