<%= form_for @user do |f| %>
  <div class="row">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="field">
      <%= f.label :le_mot_de_passe, "Nouveau mot de passe" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :confirmation_du_mot_de_passe, "Confirmer le nouveau mot de passe" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Changer le mot de passe", class:"waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>
