
<div class="row photos hide-on-small-only">
  <div class="col m9 l9 large">
    <a class="modal-trigger" href="#modal1">
      <%= image_tag @picture.image_one.url, class:"current-image picture1", alt:"Image album : #{@picture.image_one}" %>
    </a>
  </div>
  <div class="col m3 l3 small">
    <a class="modal-trigger" href="#modal1">
      <div class="small-image">
        <%= image_tag @picture.image_two.url, class:"current-image picture2", alt:"Image album : #{@picture.image_two}" %>
      </div>
    </a>
    <a class="modal-trigger" href="#modal1">
      <div class="small-image">
        <%= image_tag @picture.image_three.url, class:"current-image picture3", alt:"Image album : #{@picture.image_three}" %>
      </div>
    </a>
    <a class="modal-trigger" href="#modal1">
      <div class="small-image">
        <%= image_tag @picture.image_four.url, class:"current-image picture4", alt:"Image album : #{@picture.image_four}" %>
      </div>
    </a>
  </div>
</div>
<!-- Modal Structure -->
 <%= render "shared/home/photo_of_moment/modal_photo_album" , id:"modal1", class:"modal" %>
