<div class="container page-content">
  <div class="row">
    <div class="col s11 m11 l11">
      <h1>Stocks de vêtements</h1>
    </div>
    <% if current_user_is_admin? %>
      <div class="col m1 l1 hide-on-small-only">
        <%= render "shared/global/action-btn" , url: 'stocks/new', title:'Ajouter'  %>
      </div>
    <% end %>
  </div>
  <div class="row-fluid">
    <div class="row stock-card">
      <% @stocks.each do |stock| %>
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="row-fluid">
              <div class="col s12 m12 l12">
                <h4><%=stock.title%></h4>
              </div>
            </div>
            <div class=" row-fluid col s12 m12 l12 card-image">
              <div class="col s1 m1 l2"></div>
              <div class="col s10 m10 l8 stock-images">
                <div class="col s12 m12 l12 stock-front">
                  <h5>Devant</h5>
                  <img src="<%=stock.front_image%>" alt="<%=stock.title%> : photo de devant"/>
                </div>
                <div class="col s12 m12 l12 stock-back">
                  <h5>Derrière</h5>
                  <img src="<%=stock.back_image%>" alt="<%=stock.title%> : photo de dos"/>
                </div>
              </div>
              <div class="col s1 m1 l2"></div>
            </div>
            <div class=" row-fluid card-content">
              <b><%=stock.quantity%></b> vêtements en stock
            </div>
            <div class="row-fluid promotion">
              <%= stock.promotion %>
            </div>
            <div class="row-fluid info_update">
              Mise à jour le <%=stock.date.strftime("%d/%m/%Y, %H:%M:%S")%>
            </div>
            <% if current_user_is_admin? %>
              <div class="card-action hide-on-small-only">
                <%= link_to edit_stock_path(stock.id) do%>Mettre à jour<%end%>
                <%= link_to stock_path(stock.id), method: :delete do%>Supprimer<%end%>
              </div>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
