<div class="container-fluid">
  <%= render "shared/head"%>
  <%= render "shared/menu" %>
</div>
<div class="container">
  <div class="row">
    <div class="col m11">
      <h1>Stocks de vêtements</h1>
    </div>
    <div class="col m1">
      <%= render "shared/action-btn" , url: 'stocks/new', title:'Ajouter'  %>
    </div>
  </div>
  <div class="row-fluid">
    <% @stocks.each do |stock| %>
    <div class="row stock-card">
      <div class="col s12 m7">
        <div class="card">
          <div class=" row-fluid col m12 card-image">
            <div class="col m12">
              <h4><%=stock.title%></h4>
            </div>
            <div class="col m6">
              <h2>Devant</h2>
              <img src="<%=stock.front_image%>" alt="<%=stock.title%> : photo de devant"/>
            </div>
            <div class="col m6">
              <h2>Derrière</h2>
              <img src="<%=stock.back_image%>" alt="<%=stock.title%> : photo de dos"/>
            </div>
          </div>
          <div class=" row card-content">
            <b><%=stock.quantity%></b> vêtements en stock
          </div>
          <div class="row-fluid info_update">
            Mise à jour le <%=stock.date.strftime("%d/%m/%Y, %H:%M:%S")%>
          </div>
          <div class="card-action">
          <%= link_to edit_stock_path(stock.id) do%>Mettre à jour<%end%>
          <%= link_to stock_path(stock.id), method: :delete do%>Supprimer<%end%>
        </div>
        </div>
      </div>
      </div>
    <%end%>
  </div>
</div>
