<%= form_for @article, html: {multipart: false} do |f| %>
  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :title %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :image %>
    <br/>
    <%= f.file_field :picture %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :résumé %>
    <%= f.text_field :resume %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :contenu %>
    <%= f.cktext_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
