<%= form_for @exit, html: {multipart: false} do |f| %>
  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :title %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :date_de_la_sortie %>
    <%= f.text_field :date, class: "datepicker" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :lieu_de_la_sortie %>
    <%= f.text_area :city %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Valider", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
