<nav class="navbar">
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to root_path do %>HOME<% end %></li>
      <li><%= link_to root_path do %>LE CLUB<% end %></li>
      <li><%= link_to articles_path do %>ARTICLES<% end %></li>
      <li><%= link_to exits_path do %>SORTIES<% end %></li>
      <li><%= link_to root_path do %>STOCKS<% end %></li>
      <li><%= link_to root_path do %>CONTACTEZ-NOUS<% end %></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li>
        <% if user_signed_in? %>
          Se connecter
        <% else %>
          <%= link_to "Login", root_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
