<div class="container-fluid">
  <%= render "shared/head" %>
  <%= render "shared/menu" %>
</div>
<div class="container-fluid home">
  <div class="row-fluid">
    <div class="col m12">
      <div class="carousel carousel-slider center">
        <% @news.each do |new| %>

          <div class="carousel-item white-text" href="#one!">
            <% if new.type_of_data == "article" %>
              <div class="row home_image">
                <h2><%= new.title %></h2>
                <div class="row">
                  <p class="home_resume"><%= new.resume %></p>
                </div>
                <div class="row">
                  <img class="image_article" src="<%=new.picture%>" alt="Image de :<%=new.title%>"/>
                </div>
              </div>
              <div class="info_type">
                ARTICLE
              </div>
              <div class="know_more">
                <%= link_to "#{article_path(new.id)}", class:"waves-effect waves-light btn" do %>En savoir plus<% end %>
              </div>

            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
