<div class="container-fluid">
  <%= render "shared/head" %>
  <%= render "shared/menu" %>
</div>
<div class="container-fluid home">
  <div class="row-fluid home_content">
    <div class="col s12 m12 l12">
      <div class="carousel carousel-slider center">
        <% @news.each do |new| %>

          <div class="carousel-item white-text" href="#one!">
            <% if new.type_of_data == "article" %>
              <div class="row home_image">
                <%= link_to "#{article_path(new.id)}", class:"waves-effect waves-light btn" do %>
                  <h2><%= new.title %></h2>
                <% end %>
                <div class="row">
                  <img class="image_article" src="<%=new.picture%>" alt="Image de :<%=new.title%>"/>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row col s12 m12 title_home">
    <h2>Les sorties du mois</h2>
  </div>
  <div class="row">
    <div class="col s0 m1"></div>
    <div class="col s6 m5 exit_home_img">
      <%= image_tag("road-sport-pxhere") %>
    </div>
    <div class="col s12 m6 home_exit">
      <div class="body_exit">
        <table class="exit_month_table striped">
          <thead>
            <tr>
              <td>Date</td>
              <td>Lieu</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @exits_month.each do |exit| %>
              <tr>
                <td width="25%" class="center"><%=exit.date.strftime("%d/%m/%Y")%></td>
                <td width="25%" class="center"><%=exit.city%></td>
                <td width="50%" class="center"><%= exit.title %></td>
              </tr>
              <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row home_gallery">
    <div class="row title_home">
      <div class="col s12 m12 l12">
        <h2>Aperçu en image</h2>
      </div>
    </div>
    <div class="row gallery">
      <div class="row">
        <div class="col s11 m11 l11"></div>
        <div class="col s1 m1 l1"><%= render 'shared/action-btn', url: edit_picture_path(1), title: 'Mettre à jour'%></div>
      </div>
      <div class="row">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10 picture">
          <div class="carousel carousel-slider center">
            <div class="carousel-item white-text" href="#one!" >
              <div class="row home_image">
                <img class="picture" src="<%= @picture.image_one %>" alt="<%= @picture.image_one_file_name %>"/>
              </div>
            </div>
            <div class="carousel-item white-text" href="#two!" >
              <div class="row home_image">
                <img class="picture" src="<%= @picture.image_two %>" alt="<%= @picture.image_two_file_name %>"/>
              </div>
            </div>
            <div class="carousel-item white-text" href="#three!" >
              <div class="row home_image">
                <img class="picture" src="<%= @picture.image_three %>" alt="<%= @picture.image_three_file_name %>"/>
              </div>
            </div>
            <div class="carousel-item white-text" href="#four!" >
              <div class="row home_image">
                <img class="picture" src="<%= @picture.image_four %>" alt="<%= @picture.image_four_file_name %>"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row see-all-section">
      <div class="col m4 l5 s1"></div>
      <div class="col m4 l2 s10">
        <%=link_to "#{root_path()}", class:"waves-effect waves-light btn btn-see-all" do %>Voir toute la galerie<% end %>
      </div>
    </div>
  </div>
</div>
