.navbar-fixed
  %nav
    .nav-wrapper
      = link_to(root_path, class: "brand-logo center") do
        = image_tag("logo.png", class: "logo")
      %ul.left.row.hide-on-med-and-down
        %li.col.li-nav{class: user_signed_in? ? "s3" : "s4"}= link_to("Club", clubs_path, class: "a-nav")
        %li.col.li-nav{class: user_signed_in? ? "s3" : "s4"}= link_to("Articles", articles_path, class: "a-nav")
        %li.col.li-nav{class: user_signed_in? ? "s3" : "s4"}= link_to("Sorties", exits_path, class: "a-nav")
        - if user_signed_in?
          %li.col.s3.li-nav= link_to("Albums", albums_path, class: "a-nav")
      %ul.right.row.hide-on-med-and-down
        %li.col.s4.li-nav= link_to("Stocks", stocks_path, class: "a-nav")
        %li.col.s4.li-nav= link_to("Contact", new_contact_path, class: "a-nav")
        %li.col.s4.li-nav
          - if current_user_is_admin?
            %a.dropdown-trigger{"data-target": "dropdown1"}
              Admin
              %i.material-icons.right arrow_drop_down
          - elsif current_user
            %a.dropdown-trigger{"data-target": "dropdown2"}
              Mon compte
              %i.material-icons.right arrow_drop_down
          - else
            = link_to("Se connecter", new_user_session_path, class: "a-nav")

- if current_user_is_admin?
  / Dropdown Structure
  %ul#dropdown1.dropdown-content
    %li.hide-on-small-only= link_to("Gestion des utilisateurs", users_path)
    %li.divider
    %li.hide-on-small-only
      = link_to("Mes informations personnelles", user_path(current_user.id))
    %li= link_to("Se déconnecter", destroy_user_session_path, method: :delete)

- if current_user
  / Dropdown Structure
  %ul#dropdown2.dropdown-content
    %li.divider
    %li.hide-on-small-only= link_to("Mes informations personnelles", user_path(current_user.id))
    %li= link_to("Se déconnecter", destroy_user_session_path, method: :delete)
